.iframeBorder{border: 2px solid black;}
.footerGradiente{background-image: linear-gradient(to top, white ,rgb(252, 122, 122));}
footer{
    border-top: 1px solid black;
    display: flex;}
footer div{text-align: center;}
iframe{width: 99.8%;}
footer ul img{
    width: 10%;
}