@media(min-width: 1200px){
    section div{width: 90%;}
    h5{font-weight: bold;}
    section{display: flex; justify-content: center;}
    form div{width: 50%;}
    form{margin-left: 450px;}
    nav{height: 65px;}
}